/*First Mobile / Primero Movil */

body{
    background-image: url(/Images/FondoEasySpot2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    color: #ddd;
}



h1, h2{
    text-decoration: underline;
}

p{
    text-align: justify;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header {
    width: 100%;
    margin: auto;
    text-align: center;
}

main {
    width: 90%;
    margin: auto;
}



#contenedor {
    width: 100%;
    margin: auto;
}


/* ---- BARRA  NAVEGACION ----*/
.navbar{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:  10px;
}

.navbar_item{
    background-color: #4750ff; 
}

.navbar_item a:hover{
    color: #43D023;
    text-shadow: 4px 4px 5px #0f5000;
    font-weight: bold;
    transition-property: color, font-weight, text-shadow;
    transition-duration: 1.3s, 1.3s, 1.3s;
}



.navbar a{
    padding: 5px 0;
    text-align: center;
    display: block;
    color: #fff;
    border: 2px solid black;
}

/* ----------------------------- */

#Banner{
    width: 100%;
    margin: auto;
}

#Somos{
    width: 100%;
    margin-bottom: 25px;
}

#contenedorImagenes{
    width: 90%;
    margin: auto;
}

#imagenMovil{
    width: 100%;
}

#imagenPC{
    display: none;
}

/* Para PC 768px de ancho en adelante */

@media (min-width: 768px) {

    .contenido{ /*<-- Provisorio como div que cubre text | imagen en pc*/
        display: flex;
        justify-content: space-between;
    }

    
    #imagenPC, #imagenMovil{
        display: block;
        width: 100%; /* <-- Queda ver tamaño*/
        padding-left: 15px;
        padding-right: 15px;
    }

    #imagenPC{
        padding-bottom: 30px;
    }
    
    #Somos{
        padding-right: 15px;
        padding-left: 15px;
    }

    #contenedor {
        width: 90%;
    }

    main {
        width: 100%;
        margin: auto;
    }
}

/* ------------------------------ */

/* PC de 1024px de ancho en adelante */
@media (min-width: 1024px) {
    #imagenPC{
        padding-top: 50px;
    }

    #imagenMovil{
        padding-bottom: 20px;
    }

    p {
        font-size: 22px;
    }
}

@media (min-width: 1440px) {
    h1{
        font-size: 36px;
    }

    p{
        font-size: 20px;
    }
}

