/*First Mobile / Primero Movil */

body{
    background-color: #ddd;
}



h1{
    text-align: center;
}

p{
    text-align: justify;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header {
    width: 100%;
    margin: auto;
    text-align: center;
}



#contenedor {
    width: 100%;
    margin: auto;
}


#head {
    width: 90%;
    margin: auto;
}



/* ---- BARRA  NAVEGACION ----*/
.navbar{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:  10px;
}

.navbar_item{
    background-color: #4750ff; 
}

.navbar_item a:hover{
    background-color: #2EF5FF;
    color: #000;
    transition-property: background-color, color;
    transition-duration: 1.6s, 1.6s;
}



.navbar a{
    padding: 5px 0;
    text-align: center;
    display: block;
    color: #fff;
    border: 1px solid black;
}

/* ----------------------------- */

#Banner{
    width: 100%;
    margin: auto;
}

#Somos{
    width: 100%;
    margin-bottom: 25px;
}



#imgSomos {
    margin: auto;
    width: 100%;
}


#imagen {
    max-width: 100%;
    width: 100%;
    display: block;
}

#imgSomos1, #imagen1{
    display: none;
}



/* Para PC */

@media (min-width: 768px) {

    main{ /*<-- Provisorio como div que cubre text | imagen en pc*/
        display: flex;
        justify-content: space-between;
    }

    #imagen1{
        width: 50px; /* <-- Queda ver tamaño*/
    }

    #contenedor {
        width: 90%;
    }

    #head {
        width: 100%;
        margin: auto;
    }
    
    #imgSomos ,#imagen {
        display: none;
    }

    #imgSomos1, #imagen1{
        display: block;
    }

    #imgSomos1{
        width: 100%;
        margin: auto;
    }
    
    #imagen1{
        max-width: 100%;
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 1440px) {
    h1{
        font-size: 36px;
    }

    p{
        font-size: 20px;
    }
}